# This runs jobs which pyiron modules should run on pushes or PRs to main

name: Push-Pull

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  pyiron:
    uses: pyiron/actions/.github/workflows/push-pull.yml@actions-3.3.3
    with:
      runner: 'ubuntu-22.04' # with ubuntu > 22.04, pip is broken
      python-version-alt3: 'exclude'  # No python 3.9
    secrets: inherit
